In [1]:
import pywhatkit
from datetime import datetime
import pandas as pd

In [2]:
df = pd.read_csv('../firestore-export-stamp-quest.csv') # change this according to the CSV that you are using
selected_columns = df[["firstName", "lastName", "phoneNumber"]]
stamp_quest = selected_columns.dropna()
stamp_quest.loc[:, 'phoneNumber'] = stamp_quest['phoneNumber'].str.replace(" ", "", regex=False)
stamp_quest

           firstName       lastName     phoneNumber
0             Jemima           Arya    +12067243002
1              Jason        Joesoef    +12068512890
2               Juan          David    +15642022896
3             Jeremy       Harsono     +12068614879
4            Deandra         Andala    +12065125719
5            calista       vidianto    +12068025383
6   Benedictus Jason        Kariadi    +12065890508
7            Tiffany        Sutedja  +6287821082108
8              ivana          gozal   +628115770567
9           Jonathan        Setiono    +14252332022
10            Regina       Setiawan   +628113228820
11          Nicholas      Panjaitan    +12539211773
12            monika  wangsanegara     +14253619487
13          Patrissa        Gunawan    +12068014591
14          willetta            zen  +6281310857777
15          Gillian     Sudjarwadi     +12067588828
16          Patrissa        Gunawan    +12068014591
17        Maximilian        Widjaja    +12069412508
18            Nadiah        Sheldon    +12067863660
19           Calista       Vidianto    +12068014664

In [3]:
stamp_quest_guests = stamp_quest.to_dict('records')
stamp_quest_guests

[{'firstName': 'Jemima', 'lastName': 'Arya', 'phoneNumber': '+12067243002'},
 {'firstName': 'Jason', 'lastName': 'Joesoef', 'phoneNumber': '+12068512890'},
 {'firstName': 'Juan', 'lastName': 'David', 'phoneNumber': '+15642022896'},
 {'firstName': 'Jeremy',
  'lastName': 'Harsono ',
  'phoneNumber': '+12068614879'},
 {'firstName': 'Deandra', 'lastName': 'Andala', 'phoneNumber': '+12065125719'},
 {'firstName': 'calista',
  'lastName': 'vidianto',
  'phoneNumber': '+12068025383'},
 {'firstName': 'Benedictus Jason',
  'lastName': 'Kariadi',
  'phoneNumber': '+12065890508'},
 {'firstName': 'Tiffany',
  'lastName': 'Sutedja',
  'phoneNumber': '+6287821082108'},
 {'firstName': 'ivana', 'lastName': 'gozal', 'phoneNumber': '+628115770567'},
 {'firstName': 'Jonathan',
  'lastName': 'Setiono',
  'phoneNumber': '+14252332022'},
 {'firstName': 'Regina',
  'lastName': 'Setiawan',
  'phoneNumber': '+628113228820'},
 {'firstName': 'Nicholas',
  'lastName': 'Panjaitan',
  'phoneNumber': '+12539211773'},
 {'firstName': 'monika',
  'lastName': 'wangsanegara ',
  'phoneNumber': '+14253619487'},
 {'firstName': 'Patrissa',
  'lastName': 'Gunawan',
  'phoneNumber': '+12068014591'},
 {'firstName': 'willetta', 'lastName': 'zen', 'phoneNumber': '+6281310857777'},
 {'firstName': 'Gillian ',
  'lastName': 'Sudjarwadi ',
  'phoneNumber': '+12067588828'},
 {'firstName': 'Patrissa',
  'lastName': 'Gunawan',
  'phoneNumber': '+12068014591'},
 {'firstName': 'Maximilian',
  'lastName': 'Widjaja',
  'phoneNumber': '+12069412508'},
 {'firstName': 'Nadiah', 'lastName': 'Sheldon', 'phoneNumber': '+12067863660'},
 {'firstName': 'Calista',
  'lastName': 'Vidianto',
  'phoneNumber': '+12068014664'}]

In [4]:
test_guests = [
    {"firstName": "Eugene", "lastName": "Wongso", "phoneNumber": "+628119594353"}
]

In [5]:
for guest in test_guests: # change test_guests to stamp_quest_guests when done testing
    first_name = guest["firstName"]
    last_name = guest["lastName"]
    guest_number = guest["phoneNumber"]
    
    message = f"""Hi {first_name} {last_name} :-)
    Thank you for signing up for ISAUW's Seattle Stamp Quest. We're excited to meet you and here are some reminders for today:

    1. Meet us at Red Square (in front of Suzzallo) at 2pm SHARP.

    2. Bring your ORCA or UW ID card as we will be taking public transport throughout the day.

    Attached below are your assigned groups! If you have any questions or concerns or if you are unable to come to the event, please feel free to DM us on Instagram @isauwhuskies . 

    Thank you so much for supporting us through this event and we hope to see you there!

    """
    pywhatkit.sendwhatmsg_instantly(guest_number, message, 10, True)
    print(f"sent message to {first_name} {last_name}")

sent message to Eugene Wongso